
<div class="sidebar">
    <div class="logo">
    </div>
    <ul>
      <li class="menu-item active" (click)="navigateToDashboard()">
        <a href="#">
          <img src="assets/images/dashboard.svg" alt="">
          Dashboard
        </a>
      </li>
      <li class="menu-item"  (click)="navigateToCalls()"><a><img src="assets/images/dashboard.svg" alt="">Calls</a></li>
      <li class="menu-item"><a href="#"><img src="assets/images/challan.svg" alt="">Challan</a></li>
      <li class="menu-item"><a href="#"><img src="assets/images/inventory.svg" alt="">Inventory</a></li>
      <li class="menu-item"><a href="#"><img src="assets/images/reports.svg" alt="">Reports</a></li>
      <li class="menu-item"><a href="#"><img src="assets/images/sales.svg" alt="">Sales</a></li>
      <li class="menu-item"><a href="#"><img src="assets/images/quick-links.svg" alt="">Quick Links</a></li>
    </ul>
  </div>