<div class="page-wrapper">
    <div class="container">
    <h1>Resources</h1>
    <h4>Create new</h4>
    <div class="d-flex">
        <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">New Resource</button>
        <button class="btn">Create Quiz</button>
    </div>
    <h3>Recent Resources</h3>

    <div class="row">
        <div class="col-xl-3">
            <p>30</p>
            <h5>Total Resources</h5>
        </div>
        <div class="col-xl-3">
            <p>11</p>
            <h5>Audio</h5>
        </div>
        <div class="col-xl-3">
            <p>5</p>
            <h5>Video</h5>
        </div>
        <div class="col-xl-3">
            <p>12</p>
            <h5>PDF</h5>
        </div>
        <div class="col-xl-3">
            <p>2</p>
            <h5>ZIP file</h5>
        </div>
    </div>

    <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" (click)="showTable('all')">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showTable('published')">Published</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showTable('draft')">Draft</a>
        </li>
    </ul>

      <table class="table bg-white"  *ngIf="selectedOption === 'all'">
        <thead>
          <tr>
            <th scope="col">Resources</th>
            <th scope="col">Type</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resource of resourcesData">
            <th scope="row"></th>
            <td>{{ resource.name }}</td>
            <td>{{ resource.type }}</td>
            <td>{{ resource['last modified'] }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table bg-white"  *ngIf="selectedOption === 'published'">
        <thead>
          <tr>
            <th scope="col">Resources</th>
            <th scope="col">Type</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>
      <table class="table bg-white"  *ngIf="selectedOption === 'draft'">
        <thead>
          <tr>
            <th scope="col">Resources</th>
            <th scope="col">Type</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newResourceModalLabel">New Resource</h5>
          </div>
          <div class="modal-body">
            <!-- Your form or content goes here -->
            <form>
              <div class="mb-3">
                <label for="documentLinkInput" class="form-label">Document Link</label>
                <input type="url" class="form-control" id="documentLinkInput" placeholder="Paste URL Here...">
                <small>File type audio, video, pdf.</small>
              </div>
              <div class="mb-3">
                <label for="fileUpload" class="form-label">Drag & Drop file to upload</label>
                <input type="file" class="form-control" id="fileUpload">
                <small>File type supported word, ppt, excel, jpg, png, pdf, mp3, mov. File size up to 100mb</small>
              </div>
            </form>
          </div>  
        </div>
      </div>
    </div>
    
</div>